[user]
	email = tiwasaki@vlsi.es.kit.ac.jp
	name = tiwasaki
[credential]
	helper = cache --timeout=86400
[core]
	editor = vim
	pager = less -i -M -R -Q -F -X
	fileMode = false
[diff]
	tool = vimdiff
[difftool]
	prompt = false
[color]
	ui = auto
[merge]
	tool = vimdiff
[mergetool]
	prompt = false
	keepBackup = false
[alias]
	vlog = log --graph --pretty=format:'%C(yellow)%h%Creset -%C(red)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit --date=relative
  st =  status
  a =  add
  aa = add -A
  ap = add -p
  b = branch
  bd = branch -d
  c = commit
  cm = commit -m
  ps = push
  pl = pull
  l = log
  vl=  vlog
  lp = log -p
  vlp =  vlog -p
  logp =  log -p
  vlogp = vlog -p
  d =  diff
  dt =  difftool
  vimdiff = difftool
  vd =  difftool
  vdiff =  difftool
  sta = stash
  stu = stash -u
  stum = stash -u -m
  stp = stash pop
  mr = merge
